---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import config from '@/site-config'

const languages = ['Html', 'JavaScript', 'CSS', 'Shell']
const frontend = ['TypeScript', 'Vite', 'Webpack', 'Astro']
const backend = ['Vercel', 'Waline']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const imagePath = config.logo.src
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,avif,webp}'
)
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,avif,webp}"`
  )
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={images[imagePath]()}
        alt={config.logo.alt || 'Logo'}
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
        fetchpriority='high'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Indonesia'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Source code'
            as='a'
            href='https://github.com/farrosfr/farrosfr.github.io'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>

      
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Web Builder / Security Enthusiast</p>
        <p class='text-muted-foreground'>
          A web builder specializing in high-performance websites using meta-frameworks like Astro.
          In cybersecurity, focused on offensive security and common vulnerabilities such as SQLi and XSS.
          This blog shares various findings and insights.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Education'>
        <Card
          heading="Statistics"
          subheading="Sepuluh Nopember Institute of Technology"
          date="Aug 2015 - Sep 2019"
        >
          <ul class="ms-4 list-disc text-muted-foreground">
            <li>
              Published thesis: <a href="https://doi.org/10.12962/j27213862.v2i2.6824" target="_blank"><em>"Topic Discovery on Abstract Documents of Research Journals from ScienceDirect Using Association Rule"</em></a>.
            </li>
          </ul>
        </Card>      
      </Section>

      <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='Do not go gentle into that good night'
            imagePath='/src/assets/projects/1.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='Old age burn and rave at close of day'
            imagePath='/src/assets/projects/2.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='Rage, rage against the dying of the light'
            imagePath='/src/assets/projects/3.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/4.jpg'
          />
        </div>
      </Section>

      <Section title='Certifications'>
        <Card
          as='a'
          heading='Cyber Security 101 Certificate by TryHackMe'
          date="Feb 2025"
          href='https://tryhackme-certificates.s3-eu-west-1.amazonaws.com/THM-USGATTGRLI.pdf'
          target='_blank'
        />
        <Card
          as='a'
          heading='Introduction to Cyber Security Certificate by TryHackMe'
          date="Feb 2025"
          href='https://tryhackme-certificates.s3-eu-west-1.amazonaws.com/THM-QRGNXAUUOF.pdf'
          target='_blank'
        />
        <Card
          as='a'
          heading='Cybersecurity for Small and Medium Size Business by EC-Council'
          date="Jan 2025"
          href='https://codered.eccouncil.org/certificate/20752b60-d52d-47d5-b72b-e55a33d48ab0'
          target='_blank'
        />
        <Card
          as='a'
          heading='Pre Security Certificate by TryHackMe'
          date="Jan 2025"
          href='https://tryhackme-certificates.s3-eu-west-1.amazonaws.com/THM-OA1PBQOMP7.pdf'
          target='_blank'
        />
        <Card
          as='a'
          heading='Introduction to Cybersecurity by Cisco Networking Academy'
          date='Jan 2025'
          href='https://www.netacad.com/certificates?issuanceId=a26328ab-abab-403d-80c1-c0be6232eb83'
          target='_blank'
        />
        <Card
          as='a'
          heading='Introduction to Information Security by Cyber Academy Indonesia'
          date="Mar 2024"
          href='https://www.cyberacademy.id/certificate/PKMI01103240785'
          target='_blank'
        />
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
      </Section>
    </div>
    {/* <Quote class='mt-12' /> */}
  </main>
</PageLayout>
